// стили для секции editor. верстает Алексей
.editor {
    margin-bottom: 70px;
    @include mini-between() {
      margin-bottom: 98px;
    }
    @include before-mid() {
      margin-bottom: 120px;
    } 
    &__title {
        font-family: $main-font-family;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 54px;
        line-height: 1;
        color: #635C73;
        margin-left: auto;
        margin-right: auto;
        @include medium-between() {
          max-width: 100%;
          font-size: 42px;
        } 
        @include before-mid() {
          font-size: 26px;
          max-width: 75%;
        }
    }
    &__text {
        font-family: $additional-font-family;
        font-size: 21px;
        line-height: 1.5;
        text-align: center;
        color: #323232;
        margin: 25px auto 13px;
        max-width: 72%;
        @include medium-between() {
          font-size: 21px;
          max-width: 100%;
          margin-bottom: 22px;
        }
        @include before-mid() {
          font-size: 14px;
          max-width: 100%;
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 36px;
        }
    }
    &__list {
        font-family: $main-font-family;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        gap: 20px 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 88px;
      }
    &__link {
      color:#24292F;
      display: flex;
      align-items: center;
      background-color: #f6f8fa;
      border: 1px solid #d5d8da;
      border-radius: 6px;
      padding: 3px 10px;
    }
    &__link-svg {
      height: 16px;
      width: 16px;
      filter: brightness(0) saturate(100%) invert(35%) sepia(18%) saturate(323%)
        hue-rotate(171deg) brightness(98%) contrast(88%);
    }
    &__link-text {
      margin-left: 8px;
    }
    &__link-number {
      background-color: rgba(27, 31, 36, 0.08);
      padding: 0 6px;
      border-radius: 10px;
      margin-left: 4px;
    }
}


