body {
    font-family: 'Montserrat', "sans serif";
}

.container {
    max-width: 1200px;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


// здесь только общие стили для ВСЕЙ страницы целиком