// стилі для секції header - версає Віктор
.main-header {
    background-image: url("@img/BGImg-large.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 86%;
    text-align: center;
}

.main-header__menu {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-header__logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    &:hover .main-header__logo-img-color {
        display: none;
    }
    &:hover .main-header__logo-img {
        display: block;
    }
    &:hover .main-header__logo-text {
        color: $general-text-color;
    }
}

.main-header__logo-img {
    display: none;
}

.main-header__logo-text {
    color: $sub-general-text-color;
    font-family: $additional-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    margin-left: 17px;
}

.main-header__nav {
    display: flex;
    align-items: center;
}

.main-header__nav-list {
    display: flex;
    gap: 48px;
}

.main-header__nav-link {
    color: $sub-general-text-color;
    // font-family: $main-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    &:hover {
        color: $general-text-color;
    }
}

.main-header__menu-btn {
    @include btn-header;
    padding: 11px 35px 11px 35px;
    margin-left: 48px;
    font-size: 16px;
    line-height: 17px;
    &:hover {
        color: $sub-general-text-color;
        background-color: $general-text-color;
        border: 1px solid $sub-general-text-color;
        padding-left:34px;
        padding-right:34px;
    }
}

.main-header__title {
    color: $general-text-color;
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    margin-top: 96px;
}