// стилі для секції header - версає Віктор
.main-header {
  background-image: url("@img/BGImg-large.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 800px;
  text-align: center;
  position: relative;
  z-index: 1;
  @media (max-width: 1380px) {
    background-size: unset;
  }
//   @include before-large {
//     background-image: url("@img/BGImg-medium.jpg");
//     background-size: 100% 800px;
//   }
//   @media (max-width: 768px) {
//     // background-size: unset;
//     background-image: url("@img/BGImg-medium.jpg");
//   }
//   @include before-mid {
//     background-image: url("@img/BGImg-small.jpg");
//     background-size: 100% 717px;
//   }
// @media (max-width: 320px) {
//     background-image: url("@img/BGImg-small.jpg");
//   }
}

.main-header__background-color {
  @include before-large {
    width: 100%;
    height: 118px;
    background-color: #27262a;
    position: absolute;
    z-index: 1;
  }
  @include before-mid {
    height: 103px;
  }
}

.main-header__menu {
  display: flex;
  padding-top: 29.5px;
  padding-bottom: 29.5px;
  position: relative;
  z-index: 2;
  @include before-large {
    padding-bottom: 47.5px;
  }
  @include before-mid {
    padding-top: 31px;
    padding-bottom: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  &:hover .main-header__logo-img-color {
    display: none;
  }
  &:hover .main-header__logo-img {
    display: block;
  }
  &:hover .main-header__logo-text {
    color: $general-text-color;
  }
  @include before-mid {
    flex-grow: 0;
  }
}

.main-header__logo-img {
  display: none;
}

.main-header__logo-text {
  color: $sub-general-text-color;
  font-family: $additional-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 17px;
  @include before-mid {
    display: none;
  }
}

.main-header__nav {
  display: flex;
  align-items: center;
  @include before-large {
    position: absolute;
    max-width: fit-content;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @include before-mid {
    display: none;
  }
}

.main-header__nav-list {
  display: flex;
  gap: 48px;
  @media (max-width: 573px) {
    gap: 24px;
  }
}

.main-header__nav-link {
  color: $sub-general-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  &:hover {
    color: $general-text-color;
  }
}

.main-header__menu-btn {
  @include btn-header;
  padding: 11px 35px;
  margin-left: 48px;
  font-size: 16px;
  line-height: 17px;
  &:hover {
    border: 1px solid $sub-general-text-color;
    padding-left: 34px;
    padding-right: 34px;
  }
  @include before-mid {
    margin-left: 0px;
    padding-left: 24px;
    padding-right: 24px;
    &:hover {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.main-header__burger {
  display: none;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 3px;
    background-color: $general-text-color;
    transition: all 0.3s ease 0s;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 3px;
    background-color: $general-text-color;
    transition: all 0.3s ease 0s;
  }
  &--active {
    .main-header__burger-line {
      transform: scale(0);
    }
    &::before {
      top: 50%;
      width: 100%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }
  @include before-mid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #27262a;
    width: 26px;
    height: 21px;
    position: relative;
  }
}

.main-header__burger-line {
  width: 100%;
  height: 3px;
  background-color: $general-text-color;
  transform: scale(1);
}

.main-header__title {
  color: $general-text-color;
  font-weight: 700;
  font-size: 82px;
  line-height: 82px;
  margin-top: 83px;
  margin-bottom: 19px;
  @include before-large {
    font-size: 72px;
    line-height: 72px;
    margin-top: 76.5px;
  }
  @include before-mid {
    font-size: 48px;
    line-height: 48px;
    margin-top: 49px;
  }
}

.main-header__slogan {
  color: $sub-general-text-color;
  font-family: $additional-font-family;
  font-size: 30px;
  line-height: 30px;
  @include before-large {
    font-size: 24px;
    line-height: 24px;
  }
  @media (max-width: 573px) {
    font-size: 20px;
  }
  @include before-mid {
    font-size: 18px;
    max-width: 300px;
    font-family: $main-font-family;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-header__product-version {
  color: #848e97;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 507px;
  @include before-large {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 513.5px;
  }
  @include before-mid {
    margin-top: 14px;
    margin-bottom: 542px;
  }
}

.main-header__btn {
  @include btn-header;
  padding: 23px 61px;
  font-size: 21px;
  line-height: 22px;
  &:hover {
    border: 2px solid $sub-general-text-color;
    padding-top: 21.4px;
    padding-bottom: 21.4px;
  }
  position: absolute;
  top: 766px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: max-content;
  @include before-mid {
    padding: 15px 29px;
    font-size: 18px;
    line-height: 20px;
    top: 775px;
    &:hover {
      padding-top: 13.4px;
      padding-bottom: 13.4px;
    }
  }
}

.main-header__trial-description {
  color: #848e97;
  font-size: 14px;
  line-height: 15px;
  padding-bottom: 66px;
  @include before-large {
    padding-bottom: 93.5px;
  }
  @include before-mid {
    padding-bottom: 79.5px;
  }
}
