.pricing {
    background-image: url("@img/main-pricing-bg-1200.png");
    background-size: 100% 100%;
    padding-top: 112px;
    padding-bottom: 97px;
}

.container {
    border: 1px solid white;
}

.pricing__title {
    @include sections-title;
    color: $general-text-color;
    text-align: center;
    margin-bottom: 60px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1115px;
    column-gap: 1.3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pricing-card {
    font-family: $main-font-family;
    color: $general-text-color;
    width: 23%;
    max-width: 257px;
    background-color: rgba(255,255,255, 0.11);
    mix-blend-mode: normal;
    padding-bottom: 3.2%;
    &--accent {
    width: 27%;
    max-width: 299px;
    background: rgba(70, 48, 72, 0.84);
    padding-bottom: 4.2%;
    }
    &__title {
        font-size: 24px;
        padding-top: 14%;
        padding-bottom: 14%;
        background-color: rgba(255,255,255, 0.06);
    }
    &__title--accent {
        padding-top: 15%;
        padding-bottom: 15%;
        background-color: rgba(0,0,0, 0.11);
    }
    &__price {
        margin-top: 11%;
        margin-bottom: 43%;
        font-size: 60px;
        line-height: 1.5;
        font-weight: 700;
    }
    &__price--accent {
        margin-top: 6%;
        margin-bottom: 42%;
        font-size: 82px;
        line-height: 1.1;
    }
    &__period {
        margin-top: 8%;
    }
    &__period--accent {
        margin-top: 5%;
    }
    &__dollar {
        font-weight: 400;
    }
    &__period {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;
    }
    &__description {
        line-height: 1.13;
        margin-bottom: 14%;
        margin-top: 30%;
    }
    &__description--accent {
        margin-top: 30%;
        margin-bottom: 36%;
    }
    &__btn {
        display: inline-block;
        border-radius: 40px;
        background: rgba(255,255,255,0.15);
        padding: 6% 15%;
    }
}

@include before-large() {
    // .pricing-cards {
    //     display: grid;
    //     max-width: 580px;
    //     grid-template-columns: minmax(44.3%, 51.5%);
    // }
//     .pricing-cards {
//         max-width: 580px;
//         flex-wrap: wrap;
//         justify-content: end;
//     }
//     .pricing-card {
//         width: 257px;
//         max-width: 44.3%;
//     }
//     .pricing-card:nth-of-type(3) {
//         width: 299px;
//         max-width: 51.5%;
//     }
}